Microelectronics, Circuit Analysis and Design by Donald A. Neamen, 4th edition.pdf
Analysis and Design of Analog Integrated Circuits 5th edition Paul R. Gray, Paul J. Hurst , Stephen H. Lewis, Robert G. Meyer.pdf
